.container{
    margin: 20px auto;
}
.container h1{
    font-family: 'Poppins';
    margin-top: 10rem;
    text-align: center;
}
.but{
    margin: 20px;
    float: right;
    margin-right: 3rem;
}
.but button{
    margin-right: 3rem;
}