<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Entité</ion-title>
    <ion-button slot="end" fill="clear">
      <app-cloche></app-cloche>

    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- <div class="col-sm-7 mx-auto">
    <header class="section-header text-center">
      <span class="h1 d-block">
        <span>❝</span>
      </span>
      <h2>Nos Entités</h2>
    </header>
  </div> -->
  <div class="row">
    <div class="col-12">
      <div class="d-grid m-2 gap-2 d-md-flex justify-content-md-end">
        <button class="btn buttonColor" type="button" id="open-modal">+ &nbsp; ajouter entité</button>
      </div>
    </div>
  </div>
  <div class="cat">
    <div class="box">
    </div>
  </div>
  <div *ngIf="longueur ==0" id="flex-container" class="testimonials">
    <div class="container-fluid mere" style="height: 100%;">
      <ion-label class="lblAucune"> Aucune entite
      </ion-label>
    </div>
  </div>
  <!-- <div *ngIf="longueur!==0" id="flex-container" class="testimonials">
    <div id="left-zone">
      <ul class="list item1">

        <li class="item" *ngFor="let inf of entites">
          <input type="radio" id="{{inf.libelleentite}}" name="basic_carousel" checked />
          <label class="label_testimonial" class="{{inf.libelleentite}}"
            for="{{inf.libelleentite}}">{{inf.libelleentite}}</label>
          <div class="content-test content_testimonial">
            <img width="100" src={{inf.image}} alt="">
            <h1>{{inf.libelleentite}}</h1>
            <p class="desc">{{inf.description}}</p>
            <p class="testimonialFrom hideInfo">Gerant</p>
            <p class="testimonialState hideInfo">{{inf.gerant.prenom}} {{inf.gerant.nom}} </p>
            <p class="testimonialState"><button class="btn button" (click)="RedirigerEntite(inf.id)">Voir+</button></p>
          </div>
        </li>

      </ul>
    </div>
    <div id="right-zone"></div>
  </div> -->


  <!-- code permettant d'ajouter une nouvelle encours -->














  <ion-modal #modal trigger="open-modal" backdropDismiss="false">

    <ng-template>
      <!-- <div class="d-grid gap-2 m-2 d-md-flex justify-content-md-end">
        <!-- <ion-buttons slot="end">
          <ion-button (click)="modal.dismiss()">Close</ion-button>
        </ion-buttons> 
      </div> -->
      <ion-header>
        <ion-toolbar>
          <ion-title>Ajouter entité</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="modal.dismiss()"><span aria-hidden="true" style="font-size: 30px;">&times;</span></ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <div class="container">
        <!-- <button type="button" class="btn-close"  (click)="modal.dismiss()" data-bs-dismiss="modal" aria-label="Close"></button> -->
        <!-- <h5 class="card-title text-center">Nouvelle entité</h5> -->
        <div class="card">

          <div class="card-body text-start">
            <!-- <div class="alert alert-success mb-3" role="alert" *ngIf="alertTrue">
              L'entite Creer avec succes
            </div>
            <div class="alert alert-danger mb-3" role="alert" *ngIf="alertFalse">
              ERREUR LORS DE CREATION DE L'ENTITE
            </div> -->
            <form>
              <div for="libelleEntite" class="">Nom entité *</div>
              <input type="text" name="libelleentite" [(ngModel)]="libelleentite" class="form-control"
                id="libelleEntite" placeholder="Orange digital kalanso">
              <div for="responsableEntite" class="">Responsable de l'entité *</div>
              <select class="form-select form-select-sm" name="responsableEntite" [(ngModel)]="responsableEntite">
                <option selected>--selectionner un responsable</option>
                <option *ngFor="let user of toutUtilisateur ">{{user.prenom}} {{user.nom}}</option>

              </select>
              <div for="imageEntite" class="">Image entite *</div>
              <input type="file" (change)="recuperationImage($event)" class="form-control" id="imageEntite"
                placeholder="selectionner une image">

              <div for="description" class="">Description de l'entité *</div>
              <textarea class="form-control" id="description" name="description" [(ngModel)]="description"
                rows="3"></textarea>

              <div class="d-grid gap-2 col-6 text-center mx-auto mt-2">
                <button type="button" class="btn colorbutton2 btn-sm" id="open-modal1"
                  (click)="postAllEntite();modal.dismiss();">Enregistrer</button>
              </div>
            </form>
          </div>
        </div>
      </div>


    </ng-template>
  </ion-modal>
  <!-- methode permettant de modifier l'entite -->

  <ion-modal [isOpen]="isModalOpen" backdropDismiss="false">

    <ng-template>
      <div class="d-grid gap-2 m-2 d-md-flex justify-content-md-end">
        <!-- <ion-buttons slot="end">
        <ion-button (click)="modal.dismiss()">Close</ion-button>
      </ion-buttons> -->
      </div>
      <ion-header>
        <ion-toolbar>
          <ion-title>Modifier entité</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setClose()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <div class="container">
        <!-- <button type="button" class="btn-close"  (click)="modal.dismiss()" data-bs-dismiss="modal" aria-label="Close"></button>
      <h5 class="card-title text-center">Nouvelle entité</h5> -->
        <div class="card">

          <div class="card-body text-start">
            <!-- <div class="alert alert-success mb-3" role="alert" *ngIf="alertTrue">
              Entité modifier avec succès
            </div>
            <div class="alert alert-danger mb-3" role="alert" *ngIf="alertFalse">
              Erreur, Veuillez verfier tous les champs
            </div> -->
            <form>
              <div for="libelleEntite" class="">Nom entité *</div>
              <input type="text" name="libelleentiteMo" [(ngModel)]="libelleentiteMo" class="form-control"
                id="libelleEntite" [value]="libelleentiteMo">
              <div for="responsableEntite" class="">Responsable de l'entité *</div>
              <select class="form-select form-select-sm" name="responsableEntiteMo" [(ngModel)]="responsableEntiteMo">
                <option selected>--selectionner un responsable</option>
                <option *ngFor="let user of toutUtilisateur ">{{user.prenom}} {{user.nom}}</option>

              </select>
              <div for="imageEntite" class="">Image entite *</div>
              <input type="file" (change)="recuperationImage1($event)" class="form-control" id="imageEntite"
                placeholder="selectionner une image">

              <div for="description" class="">Description de l'entité *</div>
              <textarea class="form-control" id="description" name="descriptionMo" [(ngModel)]="descriptionMo" rows="3"
                ></textarea>

              <div class="d-grid gap-2 col-6 text-center mx-auto mt-2">
                <button type="button" class="btn colorbutton2 btn-sm" id="open-modal1"
                  (click)="modifierEntite();setClose()">Modifier</button>
              </div>
            </form>
          </div>
        </div>
      </div>


    </ng-template>
  </ion-modal>


  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4 col position-relative" *ngFor="let inf of entites">
          <div class="card mx-30 laragerColonne">
            <img src={{inf.image}} class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">{{inf.libelleentite}}</h4>
              <h6 class="card-title">
                Responsable <br>{{inf.gerant.prenom}} {{inf.gerant.nom}}</h6>
              <h6>
              </h6>
              <p class="card-text">{{inf.description | slice:0:50}}...</p> 
              
                <div class="position-absolute bottom-0 start-50 translate-middle-x mb-2">
                  <div class="socials">
                    <a (click)="RedirigerEntite(inf.id)" title="Voir plus de detail sur l'entité"><img
                        src="../../assets/icon/voir.png" alt="" srcset=""></a>
                    <a (click)="setOpen(true,inf.id)" title="cliquer ici pour modifier l'entité"><img
                        src="../../assets/icon/modifier-le-fichier.png" alt="" srcset=""></a>
                    <a (click)="supprimerEntite(inf.id)" title="cliquer ici pour supprimer l'entité"><img src="../../assets/icon/supprimer.png" alt=""
                        srcset=""></a>
                  </div>
                </div>
              


            </div>
          </div>
        </div>


      </div>
    </div>
  </div>



</ion-content>
