@font-face {
    font-family: myfon;
    src: url("../../assets/font/Poppins-Black.ttf");
  }

  @font-face {
    font-family: myfon2;
    src: url("../../assets/font/Poppins-Light.ttf");
  }




input#InputEmail,input#InputMdp,input#InputCmdp {
    border-radius: 15px;
    border: 1px solid black;
    // width: 80%;
    // height: 35px;
    background: #F8FAFC;
    box-shadow: none;
}

.first_row{
    background: #FFFFFF;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding-top: 30px;
    padding-left: 5px;
    padding-right: 5px;


    // margin-right: 7%;
}
.container{
    background-color: #F2EDED;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-family: myfon;
}
p.texte{
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 13px;
    font-family: myfon2 !important;
}
.gauche{
    margin-bottom: 15%;
    margin-top: 10%;
}
label.form-label {
    font-size: 14PX;
    color: #FF7900;
    font-family: myfon2;
    // font-weight: bold;
}
.bouton{
    background-color: #FF7900;
    width: 135px;
    border: none;
    font-weight: bold;
    margin-bottom: 10%;
    border-radius: 15px;

    letter-spacing: 0.03em;
    font-family: myfon2;


}
.image{
    display: flex;
    max-width: 100%;
    border: 0;
    margin-top: 15%;

}

.imgsmall{
    display: none;
}
@media only screen and (max-width: 400px) {

    .imgsmall{
        display: flex !important;
        margin-bottom: 5%;
        justify-content: center;
      }
      .header img{
        display: flex;
        margin: auto !important;
        width: 100px !important;
      }
    .image{
        display: none;
    }
}
#erreur{

    color: white;
    padding: 5px;
    display: flex;
    justify-content: center;
    background-color: #972d2d8f;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 1%;
  }