<!-- <ion-header>
  <ion-toolbar>
    <ion-title>forgotpassword</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="container">


    <div class="row ">
      <div class="col- col-lg-6" >
        <div class="image">
          <img  src="../../assets/icon/Orange.png" alt="logoooo">
        </div>
      </div>





      <div class="col col-lg-4  gauche">

        <div class="row imgsmall">
          <img src="../../assets/icon/Orange.png" alt="logo">
        </div>
        <div class="row">
          <p>Mot de passe oublié</p>
        </div>


         <div class="row first_row ">

            <div class="input mb-3">
              <p class="texte">Veuillez renseigner votre adresse email </p>
            </div>

            <ion-label id="erreur" *ngIf="error">{{erreur}}</ion-label>

            <div class="input mb-3 form1">
              <label for="exampleInputNom" class="form-label">Email*</label>
              <input [(ngModel)]="email" name="email" type="mail" class="form-control" id="InputMdp">

            </div>

            <!-- <div class="input mb-3 form1">
              <label for="exampleInputNom" class="form-label">Numéro de téléphone*</label>
              <input type="text" class="form-control" id="InputCmdp">

            </div> -->
            <div class="row  ">

              <div class="col-lg-12 col-12 ">

               <button type="button" class="btn btn-primary  bouton" (click)="sendMail()">Valider</button>

        </div>
            </div>

      </div>




    </div>

  </div>
  </div>
</ion-content>
