<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ajouter rôle</ion-title>
    <ion-button slot="end" fill="clear">
      <app-cloche></app-cloche>

    </ion-button>
  </ion-toolbar>
</ion-header>


<!-- code html permettant d'ajouer une nouvelle role -->
<ion-content>
  <div class="container">
    <h5 class="card-title text-center"> Création de role et attribution des droits </h5>
    <div class="card">
      <div class="card-body text-start">
        <form>

          <div class="row mb-3">
            <div class="col-12 col-lg-6 mx-auto">
              <div for="exampleFormControlInput1" class="">Libelle role *</div>
              <input type="email" class="form-control" [(ngModel)]="libelleRole" name="libelleRole"
                id="exampleFormControlInput1" placeholder="Orange digital kalanso" autocomplete="off">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <ion-list>
                <ion-item>
                  <ion-select [compareWith]="compareWith" placeholder="Droit de Lecture"
                    (ionChange)="handleChange($event)" [multiple]="true">
                    <ion-select-option *ngFor="let food of LibelleRoleLecture" [value]="food">
                      {{ food.libelle }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
                <!-- <ion-item lines="none">
                  <ion-label>Current value: {{ currentRoleCreate | json }}</ion-label>
                </ion-item> -->
              </ion-list>
            </div>
            <div class="col">
              <ion-list>
                <ion-item>
                  <ion-select [compareWith]="compareWith" placeholder="Droit de creation"
                    (ionChange)="handleChange($event)" [multiple]="true">
                    <ion-select-option *ngFor="let creat of LibelleRoleCreation" [value]="creat">
                      {{ creat.libelle }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
                <!-- <ion-item lines="none">
                  <ion-label>Current value: {{ currentRoleCreate | json }}</ion-label>
                </ion-item> -->
              </ion-list>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <ion-list>
                <ion-item>
                  <ion-select [compareWith]="compareWith" placeholder="Droits de mise à jours"
                    (ionChange)="handleChange($event)" [multiple]="true">
                    <ion-select-option *ngFor="let upd of LibelleRoleUpdate" [value]="upd">
                      {{ upd.libelle }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
                <!-- <ion-item lines="none">
                  <ion-label>Current value: {{ currentRoleCreate | json }}</ion-label>
                </ion-item> -->
              </ion-list>
            </div>
            <div class="col">
              <ion-list>
                <ion-item>
                  <ion-select [compareWith]="compareWith" placeholder="Droits Suppression"
                    (ionChange)="handleChange($event)" [multiple]="true">
                    <ion-select-option *ngFor="let sup of LibelleRoleSuppression" [value]="sup">
                      {{ sup.libelle }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
                <!-- <ion-item lines="none">
                  <ion-label>Current value: {{ currentRoleCreate | json }}</ion-label>
                </ion-item> -->
              </ion-list>
            </div>
          </div>

          <div class="d-grid gap-2 col-6 text-center mx-auto mt-2">
            <button type="button" class="btn colorbutton2 btn-sm" (click)="postRole()">Enregistrer</button>
          </div>
        </form>
      </div>
    </div>
  </div>








  <!--SECONDS METHODE PERMETTANT DE RECUPERER TOUTES LES DROITS-->
  <!--  -->
</ion-content>