<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detail personnels</ion-title>
    <ion-button slot="end" fill="clear">
      <app-cloche></app-cloche>

    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content>
  <a (click)="back()" id="back"> <p><i class="fa fa-hand-o-left" style="font-size:20px"></i> Retour</p></a> 
  <img *ngIf="image!=null" src={{image}} class="center" alt="Image du personnel">
  <img *ngIf="image==null" src="assets/images/profile.png" class="center" alt="Image du personnel">

  <!-- <img
    src="https://images.pexels.com/photos/7562313/pexels-photo-7562313.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
    class="center"> -->
  <!-- <h3 class="ion-text-center">{{detailpostulant.name.title}} {{detailpostulant.name.first}}</h3> -->

  <ion-item lines="none" color="background-color: #FF6200;" style="background-color: #FF6200;">
    <ion-label class="info" style="color: white;">Plus d'information sur la personne</ion-label>
  </ion-item>


  <ion-list>
    <ion-item lines="none">
      <ion-label slot="start" style="color: black;" class="taille1">Nom:</ion-label>
      <ion-label style="color: black;" class="taille2">{{ nom }}</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label slot="start" style="color: black;" class="taille1">Prenom:</ion-label>
      <ion-label slot="" style="color: black;" class="taille2">{{ prenom }}</ion-label>
    </ion-item>
    <!-- <ion-item lines="none">
      <ion-label slot="start" style="color: black;" class="taille1">Date de naissance:</ion-label>
      <ion-label slot="" style="color: black;" class="taille2">12/12/1999</ion-label>

 [(ngModel)]="name"

    </ion-item> -->
    <!-- <ion-item lines="none">
      <ion-label slot="start" style="color: black;" class="taille1">Lieu de naissance:</ion-label>
      <ion-label slot="" style="color: black;" class="taille2">{{ lieunaissance }}</ion-label>
    </ion-item> -->
    <ion-item lines="none">
      <ion-label slot="start" style="color: black;" class="taille1">Genre:</ion-label>
      <ion-label slot="" style="color: black;" class="taille2" >{{ genre }}</ion-label>
    </ion-item>
    <!-- <ion-item lines="none">
      <ion-label slot="start" style="color: black;" class="taille1">Contact:</ion-label>
      <ion-label slot="" style="color: black;" class="taille2">{{ contact }}</ion-label>
    </ion-item> -->
    <ion-item lines="none">
      <ion-label slot="start" style="color: black;" class="taille1">Email:</ion-label>
      <ion-label slot="" style="color: black;" class="taille2">{{ email }}</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label slot="start" style="color: black;" class="taille1">Entite:</ion-label>
      <ion-label slot="" style="color: black;" class="taille2">{{nomEntite}}</ion-label>
      <!-- <ion-label slot="" style="color: black;" class="taille2" *ngIf="nomEntite!=null">{{nomEntite}}</ion-label>
      <ion-label slot="" style="color: black;" class="taille2" *ngIf="nomEntite==null">Entite non specifié</ion-label> -->
    </ion-item>
    <ion-item lines="none">
      <ion-label slot="start" style="color: black;" class="taille1">Role:</ion-label>
      <ion-label slot="" style="color: black;" class="taille2">{{statusUser}}</ion-label>
    </ion-item>
  </ion-list>

  <!-- <div class="buttom">
    <div class="button1">

    
       
        <button class="btn buttonColor"  class="but1"  type="button"  >+ &nbsp; Modifier</button> 
        <input class="but1" type="submit" value="Supprimer" >

      <input class="but1" type="reset" value="MODIFIER" (click)="ModifierPersonnel()" data-bs-toggle="modal"
        data-bs-target="#staticBackdrop">
      
    </div>
    <div class="button2">
      <input class="but2" type="submit" value="DESACTIVER" (click)="DesactiverPersonnel()">
      <input class="but2" type="submit" value="Desactiver" ">
    </div>
  </div>  -->
  <div class="row">
    <div class="col-lg-9 col-12">
      <div class="d-grid m-2 gap-2 d-md-flex justify-content-md-center">
        <button class="btn buttonColor" id="open-modal" type="button">+ &nbsp; Modifier</button>
        <button class="btn buttonColor" (click)="MessageDeleteUserEffectuer()" type="button">+ &nbsp; Supprimer</button>
        <button class="btn buttonColor" (click)="DesactiverUser()" type="button">+ &nbsp; Desactiver</button>
      </div>
    </div>
  </div>

  <!-- <div>
    <p>{{ message }}</p>
  </div> -->
 

  <!-- (click)="ModifierPersonnel()" -->
  
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <!-- <ion-header class="ion-padding">
        <ion-toolbar>
        
          <ion-title>Modification du personnel</ion-title>
          
        </ion-toolbar>
      </ion-header> -->
      
<div class="container">
  <form action="#">
    <div class="box">
      <button type="button" class="btn-close"  (click)="cancel()" data-bs-dismiss="modal" aria-label="Close"></button>
      <h1>Modifier personnel</h1>
          <div class="ajout">
              <div class="input-box">
                  <span class="details">Nom *</span>
                  <input type="text" name="nom" [(ngModel)]="nom" [value]="nom" placeholder="Nom du personnel" required>
              </div>
              <div class="input-box">
                <span class="details">Email *</span>
                <div class="mail"   *ngFor="let d of formatMailperonnel">
                  <input type="email" name="email" [(ngModel)]="email" placeholder="loremipsun" id="inp" [value]="email" required>
                  <div style="width: 270px;">
                  <select name="domaine" [(ngModel)]="domaine" class="mailmodel" required>
                    <!-- <option >--Choisisez un domaine--</option> -->
                    <option *ngFor="let d of formatMailperonnel" >{{d.libelle}}</option>
                    <!-- formatMail
                    <option value="">@orangefablab.com</option>
                    <option value="">@orangemali.com</option>
                    <option value="">@orangedigitalcenter.com</option> -->
                  </select>
                </div>
                </div>
              </div>
              <div class="input-box">
                <span class="details">Prénom *</span>
                <input type="text" name="prenom" [(ngModel)]="prenom" [value]="prenom" placeholder="Prénom du personnel" required>
              </div>
              
              <!-- <div class="input-box">
                <span class="details">Telephone *</span>
                <input type="text" placeholder="Numéro de telephone" required>
              </div>
              <div class="input-box">
                <span class="details">Lieu de naissance *</span>
                <select name="tchoixsalle" class="select" required>
                  <option value="">Bamako</option>
                  <option value="">Sikasso</option>
                  <option value="">Segou</option>
                  <option value="">Mopti</option>
                  <option value="">Kayes</option>
                  <option value="">Koulikoro</option>
                  <option value="">Gao</option>
                  <option value="">Kidal</option>
                </select>
             </div> -->
              <div class="input-box">
                  <span class="details">Entité *</span>
                  <select name="entite" [(ngModel)]="entite" class="select"  required>
                    <!-- <option>--Choisisez une entité--</option> -->
                    <option *ngFor="let entite of Entites" >{{entite.libelleentite}}</option>
                  </select>
              </div>
              <div class="input-box">
                <span class="details">Votre genre </span>
                <select name="idGenre" [(ngModel)]="genre" class="select" required>
                  <!-- <option>--Votre genre--</option> -->
                  <option >Masculin</option>
                    <option >Feminin</option>
                </select>
                <!-- <select name="tchoixsalle" class="select" required>
                    <option >--Votre genre--</option>
                    <option *ngFor="let g of genre" >{{g.genre}}</option>
                </select> -->
            </div>

            <!-- <div class="input-box">
              <span class="details">Lieu de nanissance *</span>
              <select name="lieunaissance" class="form-control" [(ngModel)]="lieunaissance" class="select" required>
                <option selected>Bamako</option>
                <option >Kayes</option>
                <option >Koulikoro</option>
                <option >Sikasso</option>
                <option >Segou</option>
                <option >Mopti</option>
                <option >Tombouctou</option>
                <option >Gao</option>
                <option >Kidal</option>
                  <option >Tadoudeni</option>
                <option >Menaca</option>
                
              </select>
          </div> -->
    
          <!-- <div class="input-box">
            <span class="details" for="phone">Numéro de telephone *</span>
            <input type="tel"  id="phone" name="contact"  [(ngModel)]="contact" [value]="contact" placeholder="70000000" pattern="[0-9]{2}[0-9]{2}[0-9]{2}[0-9]{2}" required>
    
          </div> -->

            <div class="input-box">
              <span class="details">Rôle *</span>
              <select name="role" [(ngModel)]="role" class="select" required >
                <!-- <option selected>{{statusUser}}</option> -->
                <option *ngFor="let role of Roles" >{{role.libellerole}}</option>
              </select>
          </div>
          <div class="input-box">
            <span class="details">Ajouter image *</span>
            <input type="file" class="form-control" placeholder="Logo.jpg" id="logo"
              accept="image/png, image/jpeg, image/jpg" (change)="envoyerImage1($event)">
          </div>

          </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-lg-9 col-12">
        <div class="d-grid m-2 gap-2 d-md-flex justify-content-md-center">
          <button class="btn buttonColor" (click)="UpdateUser()" type="button">Modifier</button>
          <button class="btn buttonColor" (click)="cancel()" type="button">Annuler</button>
        </div>
      </div>
    </div>
    <!-- <div class="button">
      <ion-buttons slot="end">
        <ion-button (click)="UpdateUser()" class="but">Modifier</ion-button>
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-button (click)="cancel()" class="but">Annuler</ion-button>
    
    </div> -->

    
  </form>
</div> 
        <!-- <ion-item>
          <ion-label position="stacked">Enter your name</ion-label>
          <ion-input type="text" placeholder="Your name"></ion-input>
        </ion-item> -->
    </ng-template>
  </ion-modal>




<!-- 
<ion-content class="ion-padding">
  <ion-button id="open-modal" expand="block">Open</ion-button>
  <p>{{ message }}</p>
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Welcome</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="stacked">Enter your name</ion-label>
          <ion-input type="text" placeholder="Your name" [(ngModel)]="name"></ion-input>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>   -->




  <!-- <ion-modal #modal trigger="open-modal">
    <ng-template>
      <div class="container">
        <h5 class="card-title text-center"> Création de role et attribution des droits </h5>
        <div class="card">
          <div class="card-body text-start">
            <div class="box">
              <div class="ajout">
                <div class="row">
                  <div class="col-6">
                    <div class="input-box">
                      <span class="details">Nom *</span>
                      <input type="text" placeholder="Nom du personnel">
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="input-box">
                      <span class="details">Email *</span>
                      <div class="mail">
                        <input type="text" placeholder="loremipsun" id="inp"> -->
                        <!-- <span class="input-group-text" aria-label="fin de mail">@orangemali.com</span> -->
                        <!-- <div style="width: 270px;">
                          <select name="tchoixsalle" class="mailmodel">
                            <option value="">@orangefablab.com</option>
                            <option value="">@orangemali.com</option>
                            <option value="">@orangedigitalcenter.com</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="input-box">
                      <span class="details">Prénom *</span>
                      <input type="text" placeholder="Prénom du personnel">
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="input-box">
                      <span class="details">Date de naissance *</span>
                      <input type="date" placeholder="La date de naissance">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="input-box">
                      <span class="details">Contact *</span>
                      <input type="text" placeholder="Numéro du personnel">
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="input-box">
                      <span class="details">Lieu de naissance *</span>
                      <select name="tchoixsalle" class="select">
                        <option value="">Bamako</option>
                        <option value="">Sikasso</option>
                        <option value="">Segou</option>
                        <option value="">Mopti</option>
                        <option value="">Kayes</option>
                        <option value="">Koulikoro</option>
                        <option value="">Gao</option>
                        <option value="">Kidal</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="input-box">
                      <span class="details">Entité *</span>
                      <select name="tchoixsalle" class="select">
                        <option value="">Orange Digital Kalanso</option>
                        <option value="">Orange FabLab</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="input-box">
                      <span class="details">Genre *</span>
                      <select name="tchoixsalle" class="select">
                        <option value="">Homme</option>
                        <option value="">Femme</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="input-box">
                      <span class="details">Rôle *</span>
                      <select name="tchoixsalle" class="select">
                        <option value="">Administrateur</option>
                        <option value="">Responsable</option>
                        <option value="">Utilisateur</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ion-modal> -->

</ion-content>