<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Creer tâche</ion-title>
    <ion-button slot="end" fill="clear">
      <app-cloche></app-cloche>

    </ion-button>
  </ion-toolbar>
</ion-header>






<ion-content>




  <div class="container">

  


    <form #f="ngForm" class="formilaire">
      <!-- <a class="btnLink">

      <i class="bi bi-plus-square" style="color:#FF7900; font-size: 25px;"></i> <span class="button_de"> Désignation</span> 
      
    </a> -->


    <ul id="MiniLeftNav">
      <li>
          <a class="navtext"  id="open-modal"><i class="bi bi-plus-square" style="color:#FF7900; font-size: 15px; margin-left: 25%;"></i> <span>Désignation</span></a>
      </li>
  </ul>
      <div class="box">
        <h1>Créer une tâche</h1>
 
 

   
      <div class="row" >
        
            
           <div class="col- col-sm- col-md-6 col-lg-6 col-xl-6" >

    
              <img src="../../assets/images/task.gif" alt="">
          


            </div>
  
  
            <div class="col- col-sm- col-md-6 col-lg-6 col-xl-6" >
   
              <div class="alert alert-success" role="alert" *ngIf="alertTrue">
                <i class="fa fa-check-circle-o" aria-hidden="true" style="color: green;"></i>  Tâche créée avec succès.
      
              </div>
      
              <div class="alert alert-danger" role="alert" *ngIf="alertNomTrue">
                <i class="fa fa-ban" aria-hidden="true" style="color: red;"></i>{{messageerror}}
              </div>
              <div class="input mb-3">
                                
                <label for="inputs" class="form-label">Nom (Désignation) *</label>
                    <select id="inputs" [(ngModel)]="libelleDesignation"    name=" designations" class="form-select" aria-label="Default select exemple" name="entiteNom"  required>
                  
                        <option selected>Choisisez une designation</option>
                        <option *ngFor="let desi of designations">{{desi.libelle}}</option>
                        
                    </select>
            </div> 


              <div class="input mb-3">
                <label for="inputs" class="form-label">Date début *</label>
                <input  id="inputs"    [(ngModel)]="datedebut"      name="datedebut" type="date"  class="form-control" id="inputs" ngModel required>
               
              </div>

              <div class="input mb-3">
                <label for="inputs" class="form-label">Date fin *</label>
                <input  id="inputs"  [(ngModel)]="datefin"  name="datefin" type="date"  class="form-control" id="inputs" ngModel required>
               
              </div>


          
              <div class="input mb-3">
                                
                <label for="inputs" class="form-label">Statut *</label>
                    <select id="inputs" [(ngModel)]="libelleStatut"  name=" statuts" class="form-select" aria-label="Default select exemple" name="libelleStatut"  required>
                    
                        <option selected>Etat de la tache </option>
                    
                         <option *ngFor="let statut of Allstatut">{{statut.libelle}}</option> -->

                    </select>
            </div> 


           <div class="input mb-3">
                                
                    <label for="inputs" class="form-label">Salle *</label>
                        <select id="inputs"  [(ngModel)]="libelleSalle"    class="form-select" aria-label="Default select exemple" name="libelleSalle"  required>
                          
                          <option selected>Choisisez une salle</option>
                            <!-- <option *ngFor="let salle of salles ">  {{salle.libelle}} </option> -->
                            <option *ngFor="let salle of sallesDipo"> {{salle.libelle}} </option>
                        </select>
             </div>  


             
           <div class="input mb-3">
                                
            <label for="inputs" class="form-label">Réalisateur *</label>
                <select id="inputs"   class="form-select" aria-label="Default select exemple" [(ngModel)]="realisateurs" name="entiteNom"  required>
                    <option selected>Choisisez un réalisateur</option>
                     <option *ngFor="let pex of personEx" >{{pex.nom}} {{pex.prenom}}</option>
                     <option *ngFor="let pin of personIn" >{{pin.nom}} {{pin.prenom}}</option>
                    <option></option>
                </select>
          </div>  


             <div class="input-box">
              <span class="details">Comission *</span>
              <ion-list>
                <ion-item>
                  <ion-select placeholder="Selectionner les formateurs" [multiple]="true" [(ngModel)]="Commissions" name="Commissions">
                    <ion-select-option *ngFor="let pex of personEx" >{{pex.nom}} {{pex.prenom}}</ion-select-option>
                    <ion-select-option *ngFor="let pin of personIn" >{{pin.nom}} {{pin.prenom}}</ion-select-option>
                    <!-- <ion-select-option *ngFor="let u of utilisateurs">{{u.nom}} {{u.prenom}}</ion-select-option> -->

                   </ion-select>
                </ion-item>
              </ion-list> 
            </div>
            </div>
              <div class="col button_div" >
                <button type="button" class="btn bouton" (click)="createTache()" [disabled]="f.form.invalid">Enregistrer</button>
              </div>
          </div>
        </div>
    </form>


  

</div>












<ion-modal #modal trigger="open-modal" backdropDismiss="false">

  <ng-template>
    <div class="d-grid gap-2 m-2 d-md-flex justify-content-md-end">
      <!-- <ion-buttons slot="end">
        <ion-button (click)="modal.dismiss()">Close</ion-button>
      </ion-buttons> -->
    </div>
    <ion-header>
      <ion-toolbar>
        <ion-title>Créer une désignation</ion-title>
        <ion-buttons slot="end">
          <button type="button" class="btn-close"  (click)="modal.dismiss()" data-bs-dismiss="modal" aria-label="Close"></button>
 
          <!-- <ion-button (click)="modal.dismiss()">Close</ion-button> -->
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <div class="container">
      <!-- <button type="button" class="btn-close"  (click)="modal.dismiss()" data-bs-dismiss="modal" aria-label="Close"></button> -->
      <!-- <h5 class="card-title text-center">Créer une désignation</h5> -->
      <div class="card">
       
        <div class="card-body text-start">


          <!-- <div class="alert alert-success mb-3" role="alert" >
            L'entite Creer avec succes
          </div>
          <div class="alert alert-danger mb-3" role="alert" >
            ERREUR LORS DE CREATION DE L'ENTITE
          </div> -->

          <!-- <div class="alert alert-danger" role="alert" *ngIf="alertFalse">
            <i class="fa fa-ban" aria-hidden="true" style="color: red;"></i>  Impossible de créer une désignation.
          </div>

          <div class="alert alert-success" role="alert" *ngIf="alertTrue">
            <i class="fa fa-check-circle-o" aria-hidden="true" style="color: green;"></i>  Désignation créée avec succès.
            
          </div> -->


          <form #f="ngForm" class="formulaire">


         


            <div class="input mb-3">
              <label for="inputs" class="form-label">Libelle *</label>
              <input id="inputs" name="libelle" [(ngModel)]="libelleDesignation" type="text"  class="form-control" autocomplete="off" id="inputs" min="0" max="4" ngModel required>
            </div>

<!--             
                    <div class="input mb-3">
                                
                    <label for="inputs" class="form-label">Lieu *</label>
                        <select id="inputs"  [(ngModel)]="lieu" class="form-select" aria-label="Default select exemple" name="entiteNom" ngModel required>
                            <option selected>Choisisez un lieu</option>
                            <option *ngFor="let lieu of sallesDipo ">  {{lieu.libelle}} </option>
                        </select>
                </div> -->


            <div class="d-grid gap-2 col-6 text-center mx-auto mt-2">
              <button type="button" class="btn colorbutton2 btn-sm btndesi" id="open-modal1" 
              [disabled]="f.form.invalid" (click)="creerDesignation()">
                Enregistrer
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>


  </ng-template>
</ion-modal>

</ion-content>