<!--<ion-header>
  <ion-toolbar>
    <ion-title>forgotpassword</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="container">


    <div class="row ">
      <div class="col- col-lg-6" >
        <div class="image">
          <img  src="../../assets/icon/Orange.png" alt="logoooo">
        </div>
      </div>





      <div class="col col-lg-4  gauche">

        <div class="row imgsmall">
          <img src="../../assets/icon/Orange.png" alt="logo">
        </div>
        <div class="row">
          <p>Mot de passe oublié</p>
        </div>
        

        <form #f="ngForm" (ngSubmit)="ChangePass()" class="row first_row ">

          <ion-label id="erreur" *ngIf="error">{{erreur}}</ion-label>

            <div class="input mb-3">
              <label for="exampleInputNom" class="form-label">Email*</label>
              <input type="email"  class="form-control" id="InputEmail" [(ngModel)]="email" required name="email">

            </div>

            <div class="input mb-3 form1">
              <label for="exampleInputNom" class="form-label">Nouveau mot de passe*</label>
              <input type="text" minlength="8" class="form-control" id="InputMdp" [(ngModel)]="password" required name="password">

            </div>

            <div class="input mb-3 form1">
              <label for="exampleInputNom" class="form-label">Confirmer mot de passe *</label>
              <input type="text" minlength="8" class="form-control" id="InputCmdp" [(ngModel)]="password2" required name="password2">

            </div>
            <div class="row  ">

              <div class="col-lg-12 col-12 ">

               <button type="submit" class="btn bouton" [disabled]="f.form.invalid">Enregistrer</button>

              </div>
            </div>

          </form>




    </div>

  </div>
  </div>
</ion-content>
