* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

ion-content {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  margin: 2px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding: 3px 6px;
  position: absolute;
  top: 7%;
  background-color: #FFF;
  color: #000;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FF7900;
}

.box {
  width: 100%;
  padding: 25px 30px;
  border-radius: 15px;
  border: #000 3px solid;
  margin: 20px auto;

}


.container {
  max-width: 700px;
  width: 100%;
  padding: 25px 30px;
  border-radius: 15px;
  background: #fff;
  margin: auto;
  height: auto !important;
}

input {
  color: #000;
}

.container form .activite-details {
  color: #FF7900;
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

form .activite-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.select {
  color: #000;
  width: 100%;
  padding: 3.25%;
  margin-top: 1px;
  align-items: center;
  border-radius: 15px;
}

.activite-details .input-box .details {
  display: block;
  font-weight: 500;
}

#details {
  border-radius: 15px;
}

.activite-details .input-box input {
  outline: none;
  height: 40px;
  width: 100%;
  border-radius: 15px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0, 3s ease;
}

.activite-details .input-box input:focus,
.activite-details .input-box input:valid {
  border-color: #ccc;
}

form .button {
  // height: 45px;
  margin: 10px 0;
  width: 100%;
  display: flex;
  justify-content: end;
}

.but {
  border-radius: 15px;
  padding: 8px;
  background-color: #FF7900;
  color: #FFF;
  border: #FF7900 1px solid;
}

.but:hover {
  background: #FFF;
  color: #FF7900;
}

form .button .input {
  height: 100%;
  // width: 45%;
  color: #FFFF;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 15px;
  letter-spacing: 1px;
}

form .button input:hover {
  background: linear-gradient(135deg);
}

textarea {
  color: #000;
}

@media (max-width: 584px) {
  .container {
      max-width: 100%;
      height: 100%;
      background: #FFFF;
      padding: 5% 7%;
  }
  form .activite-details .input-box {
      margin-bottom: 15px;
      width: 100%;
  }
  .container form .activite-details {
      overflow-y: scroll;
  }
  .activite-details::-webkit-scrollbar {
      width: 0;
  }

  form .button {
      padding: 5%;
      width: auto !important;
  }

  .title{
      margin-top: 5%;
  }
  input[type=submit] {
      border-radius: 10px;
      padding: 7px 10px;
      background-color: #FF7900;
      color: #FFFF;
      margin-bottom: 3%;
      width: auto !important;
      height: auto !important;
  }

  input[type=reset] {
      border-radius: 5px;
      padding: 7px 10px;
      background-color: #FF7900;
      color: #FFFF;
      width: 100%;
  }
}
