body {
    background-color: #eee;
}

.title {
    margin-bottom: 50px;
    text-transform: uppercase;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 22px;
    padding: 0.2em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card {
    font-size: 1em;
    overflow: hidden;
    padding: 5;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    margin-top: 20px;
}

.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}

.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}

.carousel-indicators .active {
    background-color: white;
    max-width: 12px;
    margin: 0 3px;
    height: 12px;
}
.pagination{
    width: 100%;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.container {
    display: grid;
    column-gap: 4%;
    grid-template-columns: 48% 48%;
}

.img {
    max-width: 100%;
    border: 0;
    margin-top: 22px;
    margin-left: 15px;
    border-radius: 10px;
    width: auto;
    height: 80%;
}

.btn {
    margin-top: auto;
    background-color: #FF7900;
}

.statutbtn {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

button {
    background-color: #FF7900;
    color: #ffff;
    border-radius: 15px;
    padding: 10px;
    margin-left: 90%;
}

button:hover {
    background-color: #fff;
    color: #FF7900;
    border-radius: 15px;
}

.button .but {
    background-color: #FF7900;
    border: none;
    color: #ffff;
    border-radius: 15px;
    margin-left: 47%;
}

.button .but:hover {
    background-color: #ffff;
    color: #FF7900;
}

.butrad {
    margin: 12px;
}
.col-lg-3 {
    flex: 0 0 auto;
    width: 90%;
}
.pagination{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
@media (max-width: 584px) {
    .container {
        display: grid;
        grid-template-columns: auto;
    }
}