<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- <div class="iconCloche" (click)="OpenNotification($event)">
  <i class="fa-regular fa-bell"></i><span>2</span>
</div> -->
<div class="col reporting">
  <button type="button" class="btn buttonColor"  class="iconCloche" (click)="OpenNotification($event)"><i class="fa-regular fa-bell"></i><span id="notift">{{this.notifTotal}}</span></button>
</div>